@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure blob storage gallery</h1>
    <p class="lead">This is a demo of how to interact with azure blob storage in the form of a gallery.</p>
    <p>@Html.ActionLink("View gallery", "Gallery", "Home", null)</p>
</div>