body {
    background-color: #eee;
}

.card {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.07),0 4px 6px -2px rgba(0,0,0,.05);
}

.navbar {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.07), 0 2px 4px rgba(0,0,0,.05);
}