@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure blob storage gallery</h1>
    <p>This is a demo of how to interact with azure blob storage in the form of a gallery.</p>
    <a class="btn btn-link" asp-controller="Home" asp-action="Gallery">View gallery</a>
</div>
