@{
    ViewData["Title"] = "Upload file";
}

<form class="card card-default" asp-action="Upload" asp-controller="Home" method="post">
    <div class="card-body">
        <input class="mb-3" type="file" id="file" name="selectFiles" multiple />
        <button class="btn btn-primary" type="submit">Upload</button>
        <a class="btn btn-outline-secondary" asp-action="Gallery" asp-controller="Home">Back</a>
    </div>
</form>